/******************************************************************************
 *  version.rc
 *
 *  Copyright (C) 2012-2014 Kevin Daughtridge <kevin@kdau.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 *****************************************************************************/

#define MODULE_NAME		"KDScript"
#define PACKAGE_NAME		"KDScript"
#define AUTHOR_NAME		"Kevin Daughtridge"
#define COPYRIGHT_YEAR		"2014"
#define VERSION_NUMBER		0,9,0,0
#define VERSION_STRING		"0.9.0"

#include <Thief/version.rc>

